.chat-main
  .chat-main__header
    .chat-main__header__left-box
      .chat-main__header__left-box__current-group 
        ffff
      .chat-main__header__left-box__current-member
        ssss:
        .chat-main__header__left-box__current-member-list
          ssss
    .chat-main__header__edit-btn    
      =link_to "#",class:"edit" do
        edit
  .chat-main__message-list
  .chat-main__message-form